<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mensajeria Urbana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let order of orders">
    <ion-card>
      <ion-card-header style="padding-bottom:0px">
          <ion-card-title>{{ order.id }}</ion-card-title>
          <ion-card-subtitle>
            <p *ngIf="order.accepted == false && order.cancelled == false && order.received == false && order.delivered == false" class="state">Pendiente</p>
            <p *ngIf="order.accepted == false && order.cancelled == true && order.received == false && order.delivered == false" class="state">Cancelado</p>
            <p *ngIf="order.accepted == true && order.cancelled == false && order.received == false && order.delivered == false" class="state">Aceptado</p>
            <p *ngIf="order.accepted == true && order.cancelled == false && order.received == true && order.delivered == false" class="state">Recibido</p>
            <p *ngIf="order.accepted == true && order.cancelled == false && order.received == true && order.delivered == true" class="state">Entregado</p>
          </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="openDetailOrder(order.id)">Detalles</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openRegisterOrder()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-content>
