<app-header [showBack]="true" [showConfig]="true" [urlBack]="principal" [showLogo]="true"></app-header>

<ion-content>
  <div class="title-tertiary">
    <p>Historial</p>
  </div>
  <ion-list>
    <div *ngFor="let request of requests">
      <ion-item>
        <ion-label>
          <h1>{{request.id}}</h1>
          <p *ngIf="request.type_request==1">Paqueteria y mensajeria</p>
          <p *ngIf="request.type_request==2">Favores</p>
          <p *ngIf="request.type_request==3">Compras</p>
          <p *ngIf="request.type_request==4">Rinoceronte</p>
          <!-- <ion-button shape="round">Detalles</ion-button> -->
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
