<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registrar Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="orderUrbanForm" (ngSubmit)="registerOrder()">
    <ion-item>
      <ion-select placeholder="Ciudad" formControlName="city">
        <div *ngFor="let city of cities">
          <ion-select-option [value]="city.c_digo_dane_del_municipio">{{city.departamento}} - {{city.municipio}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
      <div *ngIf="city.errors?.['required']" class="errors">
        Ciudad requerida
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>
    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
      <div *ngIf="address.errors?.['required']" class="errors">
        Direccion requerida
      </div>
      <div *ngIf="address.errors?.['pattern']" class="errors">
        Direccion errada
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Kg</ion-label>
      <ion-input formControlName="kg"></ion-input>
    </ion-item>
    <div *ngIf="kg.invalid && (kg.dirty || kg.touched)" class="alert alert-danger">
      <div *ngIf="kg.errors?.['pattern']" class="errors">
        Kg errado
      </div>
    </div>
    <br>
    <ion-button type="submit" expand="full" >Registrar</ion-button>
  </form>
</ion-content>
