
#logo{
  width: 340px;
  height: 118px;
  margin-top: 10%;
}

form{
  margin: top 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#register{
  display: block;
  text-align: center;
}

.errors{
  font-size: 13px;
  margin-top: 6px;
  margin-left: 16px;
  color: red;
}
