<ion-content [fullscreen]="true">
    <div id="logo">
      <img src="assets/img/shared/logo.png" alt="">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item lines="none" style="margin-top: 40px">
        <ion-input formControlName="email" placeholder="Usuario"></ion-input>
        <img src="assets/img/shared/usuario.png" alt="">
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']" class="errors">
          <ion-note>Correo requerido</ion-note>
        </div>
        <div *ngIf="email.errors?.['email']" class="errors">
          <ion-note>Email errado</ion-note>
        </div>
      </div>
      <ion-item lines="none" style="margin-top:15px">
        <ion-input formControlName="password" placeholder="Constraseña"></ion-input>
        <img src="assets/img/shared/contraseña.png" alt="">
      </ion-item>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']" class="errors">
          <ion-note>Contraseña requerida</ion-note>
        </div>
        <div *ngIf="password.errors?.['minlength']" class="errors">
          <ion-note>La constraseña debe tener al menos 6 caracteres</ion-note>
        </div>
      </div>
      <a id="restorePassword" (click)="openRestorePassword()">Recuperar contraseña?</a>
      <ion-button type="submit" shape="round" expand="block" style="margin-top:45px">Iniciar sesión</ion-button>
    </form>
</ion-content>
