ion-content{
  --padding-top:  20px;
  --padding-start: 20px;
  --padding-end: 20px;
}

#title{
  color: var(--ion-color-gray-3);
}

#title h6{
  text-align: center;
}

#title p{
  font-size: 13px;
}

form{
  margin-top: 20px;
}

ion-item{
  --background: var(--ion-color-gray-5);
  --border-style: none;
}

.errors{
  margin-top: 5px;
}

.errors ion-note{
  --color: var(--ion-color-danger);
  font-size: 13px;
}

ion-item img{
  width: 23px;
  height: 23px;
  margin-right: 13px;
}

#img-sobre{
  margin-top: 7px;
}
