<app-header [showBack]="true" [showConfig]="true" urlBack="principal/type-service"></app-header>
<ion-content>
  <div class="title-white">
    <p>Paqueteria y Mensajeria</p>
  </div>
  <form [formGroup]="requestForm" (ngSubmit)="register()">
    <ion-item>
      <img src="assets/img/shared/lapiz-01.png">
      <ion-select placeholder="Ciudad recibida" formControlName="cityReceived">
        <div *ngFor="let city of cities">
          <ion-select-option [value]="city.c_digo_dane_del_municipio">{{city.departamento}} - {{city.municipio}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div *ngIf="cityReceived.invalid && (cityReceived.dirty || cityReceived.touched)" >
      <div *ngIf="cityReceived.errors?.['required']" class="errors">
        <ion-note>Ciudad requerida</ion-note>
      </div>
    </div>
    <br>
    <ion-item>
      <img src="assets/img/shared/lapiz-01.png">
      <ion-input formControlName="addressReceived" placeholder="Direccion recibida"></ion-input>
    </ion-item>
    <div *ngIf="addressReceived.invalid && (addressReceived.dirty || addressReceived.touched)" >
      <div *ngIf="addressReceived.errors?.['required']" class="errors">
        <ion-note>Direccion requerida</ion-note>
      </div>
      <div *ngIf="addressReceived.errors?.['pattern']" class="errors">
        Direccion errada
      </div>
    </div>
    <br>
    <ion-item>
      <img src="assets/img/shared/lapiz-01.png">
      <ion-input type="number" formControlName="cellphoneReceived" placeholder="Celular recibida"></ion-input>
    </ion-item>
    <div *ngIf="cellphoneReceived.invalid && (cellphoneReceived.dirty || cellphoneReceived.touched)">
      <div *ngIf="cellphoneReceived.errors?.['required']" class="errors">
        <ion-note>Celular requerido</ion-note>
      </div>
      <div *ngIf="cellphoneReceived.errors?.['pattern']" class="errors">
        <ion-note>Celular errado</ion-note>
      </div>
    </div>
    <br>
    <ion-item>
      <img src="assets/img/shared/lapiz-01.png">
      <ion-select placeholder="Ciudad entrega" formControlName="cityDelivered">
        <div *ngFor="let city of cities">
          <ion-select-option [value]="city.c_digo_dane_del_municipio">{{city.departamento}} - {{city.municipio}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div *ngIf="cityDelivered.invalid && (cityDelivered.dirty || cityDelivered.touched)" >
      <div *ngIf="cityDelivered.errors?.['required']" class="errors">
        <ion-note>Ciudad requerida</ion-note>
      </div>
    </div>
    <br>
    <ion-item>
      <img src="assets/img/shared/lapiz-01.png">
      <ion-input formControlName="addressDelivered" placeholder="Direccion entrega"></ion-input>
    </ion-item>
    <div *ngIf="addressDelivered.invalid && (addressDelivered.dirty || addressDelivered.touched)" >
      <div *ngIf="addressDelivered.errors?.['required']" class="errors">
        <ion-note>Direccion requerida</ion-note>
      </div>
      <div *ngIf="addressDelivered.errors?.['pattern']" class="errors">
        <ion-note>Direccion errada</ion-note>
      </div>
    </div>
    <br>
    <ion-item>
      <img src="assets/img/shared/lapiz-01.png">
      <ion-input type="number" formControlName="cellphoneDelivered" placeholder="Celular entrega"></ion-input>
    </ion-item>
    <div *ngIf="cellphoneDelivered.invalid && (cellphoneDelivered.dirty || cellphoneDelivered.touched)" >
      <div *ngIf="cellphoneDelivered.errors?.['required']" class="errors">
        <ion-note>Celular requerido</ion-note>
      </div>
      <div *ngIf="cellphoneDelivered.errors?.['pattern']" class="errors">
        <ion-note>Celular errado</ion-note>
      </div>
    </div>
    <br>
    <ion-item>
      <img src="assets/img/shared/lapiz-01.png">
      <ion-input formControlName="content" placeholder="¿Que contiene?"></ion-input>
    </ion-item>
    <div *ngIf="content.invalid && (content.dirty || content.touched)">
      <div *ngIf="content.errors?.['required']" class="errors">
        <ion-note>Contenido requerido</ion-note>
      </div>
    </div>
    <br>
    <ion-button shape="round" type="submit" expand="block"  type="submit">Solicitar Servicio</ion-button>
  </form>
</ion-content>
