<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Informacion del establecimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="establishmentForm" (ngSubmit)="update()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [disabled]="true" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Tipo" formControlName="type" [disabled]="true">
          <ion-select-option [value]="typeEstablishment.id">{{typeEstablishment.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Ciudad" formControlName="city">
        <div *ngFor="let city of cities">
          <ion-select-option [value]="city.c_digo_dane_del_municipio">{{city.departamento}} - {{city.municipio}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>
    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
      <div *ngIf="address.errors?.['required']" class="errors">
        Direccion requerida
      </div>
      <div *ngIf="address.errors?.['pattern']" class="errors">
        Direccion errada
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input type="number" formControlName="cellphone"></ion-input>
    </ion-item>
    <div *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)" class="alert alert-danger">
      <div *ngIf="cellphone.errors?.['required']" class="errors">
        Celular requerido
      </div>
      <div *ngIf="cellphone.errors?.['pattern']" class="errors">
        Celular errado
      </div>
    </div>
    <ion-button type="submit" expand="full" >Modificar</ion-button>
  </form>
</ion-content>
