ion-content{
  --padding-start: 20px;
  --padding-end: 20px;
}

.title-tertiary{
  width: 216px;
}

form{
  margin-top: 20px;
}

ion-item{
  --border-width: 0.55px 0.55px 0.55px 0.55px;
  --border-color: var(--ion-color-tertiary);
  --border-radius: 20px;
  --color: var(--ion-color-gray-1);
  --background: white;
  --highlight-color-focused: var(--ion-color-tertiary);
  --highlight-color-valid: var(--ion-color-tertiary);
  --highlight-color-invalid: var(--ion-color-tertiary);
  font-size: 13px;
}

.errors{
  margin-top: 5px;
}

.errors ion-note{
  --color: var(--ion-color-danger);
  font-size: 13px;
}
