ion-content{
  --background: url("../../assets/img/principal/fondo.png") no-repeat center/cover fixed;
}

#options{
  text-align: center;
}

#options img{
  box-shadow: 0px 10px 20px 1px #724ea0;
  width: 22%;
  margin: 8px;
}

ion-button{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
