<app-header [showBack]="false" [showConfig]="true" [urlBack]="null" [showLogo]="true"></app-header>
<ion-content>
  <div style="padding-left:20px; padding-right:20px">
    <ion-button shape="round" expand="block">Pedido en curso</ion-button>
    <div class="title-tertiary">
      <p>¿Que quieres hacer?</p>
    </div>
  </div>
  <br>
  <div id="options">
    <img src="assets/img/principal/deunastorepequeño-01.png" >
    <img src="assets/img/principal/deuanfavorespequeño-01.png" (click)="openTypeService()">
    <img src="assets/img/principal/rinocerontepequeño-01.png" (click)="openRhinoceros()">
    <br>
    <img src="assets/img/principal/soportepequeño-01.png" (click)="openConfigSupport()">
  </div>
</ion-content>
