<app-header [showBack]="false" [showConfig]="true" [urlBack]="null"></app-header>

<ion-content>
    <div class="title-tertiary">
      <h6>¿Que quieres hacer?</h6>
    </div>
    <br>
    <div id="options">
      <img src="assets/img/principal/deunastorepequeño-01.png" >
      <img src="assets/img/principal/deuanfavorespequeño-01.png" (click)="openTypeService()">
      <img src="assets/img/principal/rinocerontepequeño-01.png" (click)="openRhinoceros()">
      <br>
      <img src="assets/img/principal/soportepequeño-01.png" (click)="openConfigSupport()">
    </div>
</ion-content>
