
ion-content{
  --background: none !important;
}

ion-button{
  --ion-color-contrast: var(--ion-color-tertiary) !important;
}

ion-item{
  --background: none;
  --border-color: var(--ion-color-secondary);
  --border-radius: 30px;
  --border-width: 0.55px 0.55px 0.55px 0.55px;
  --color: var(--ion-color-secondary);
  --highlight-color-focused: var(--ion-color-secondary);
  --highlight-color-valid: var(--ion-color-secondary);
  --highlight-color-invalid: var(--ion-color-secondary);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

ion-select{
  width: 100%;
}

ion-select::part(icon){
  display: none !important;
}

#logo{
  margin-top: 130px;
  text-align: center;
}

#logo img{
  width: 150px;
}

#actions{
  margin-top: 100px;
}

#help{
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}

#network{
  text-align: center;
  margin-top: 30px;
}

#network img{
  width: 25px;
  padding: 2px;
}
