<app-header [showBack]="true" [showConfig]="true" urlBack="principal"></app-header>
<ion-content>
  <ion-item lines="none">
    <ion-select placeholder="Tipo de Servicio" [(ngModel)]="typeSelected">
      <div *ngFor="let type of types">
        <ion-select-option [value]="type.id">{{type.name}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>
  <ion-button shape="round" expand="block" (click)="openService()" style="margin-top: 120px;">
    Solicitar Servicio
  </ion-button>
</ion-content>
