ion-content{
  --padding-top:  100px;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-select {
  width: 100%;
  justify-content: center;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

ion-item{
  --background: white;
  --border-color: var(--ion-color-gray-2);
  --border-radius: 20px;
  --border-width: 0.55px 0.55px 0.55px 0.55px;
  --color: var(--ion-color-gray-1);
  --highlight-color-focused: var(--ion-color-gray-2);
  --highlight-color-valid: var(--ion-color-gray-2);
  --highlight-color-invalid: var(--ion-color-gray-2);
  font-size: 13px;
}
