<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Seguimiento de Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map">
    <capacitor-google-map #map></capacitor-google-map>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="overflow-y: auto;height: 200px;margin-top:20px">
      <ion-list *ngIf="orderTracking">
        <ion-item>
          <ion-label>
            <h4>Pedido creado</h4>
            <p>{{orderTracking.created_datetime.toDate() | date:'shortTime'}}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="orderTracking.accepted">
          <ion-label>
            <h4>Pedido aceptado</h4>
            <p>{{courier.name}} {{courier.lastname}}</p>
            <p>{{orderTracking.accepted_datetime.toDate() | date:'shortTime'}}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="orderTracking.received">
          <ion-label>
            <h4>Pedido recibido</h4>
            <p>{{orderTracking.received_datetime.toDate() | date:'shortTime'}}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="orderTracking.delivered">
          <ion-label>
            <h4>Pedido entregado</h4>
            <p>{{orderTracking.delivered_datetime.toDate() | date:'shortTime'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-toolbar>
</ion-footer>
