/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.title-tertiary{
  width: 245px;
  height: 37px;
  margin: 0 auto;
  background-color: var(--ion-color-tertiary);
  border-radius: 20px;
  text-align: center;
}

.title-tertiary h6{
  color: white;
  position: relative;
  padding-top: 8px;
}

.title-white{
  width: 245px;
  height: 37px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  border: 1px;
  border-style: solid;
  border-color: var(--ion-color-medium);
  text-align: center;
}

.title-white h5{
  color: var(--ion-color-medium);
  margin-top: 5px;
  position: relative;
  font-weight: bold;
}

ion-item{
  --border-width: 2px;
  --border-radius: 20px;
  --border-width: 0.55px 0.55px 0.55px 0.55px;  
}

ion-button{
  --color: var(--ion-color-tertiary);
  text-transform: none;
}
