ion-content{
  --background: url("../../assets/img/login/fondo.png") no-repeat center/cover fixed;
}

#logo{
  text-align: center;
  margin-top: 120px;
}

#logo img{
  width: 150px;
}

form{
  padding-left: 20px;
  padding-right: 20px;
}

ion-item{
  --border-width: 0.55px 0.55px 0.55px 0.55px;
  --border-color: #ffffff;
  --border-radius: 20px;
  --color: #ffffff;;
  --background: transparent;
  --highlight-color-focused: #ffffff;;
  --highlight-color-valid: #ffffff;;
  --highlight-color-invalid: #ffffff;;
  font-size: 13px;
}

ion-item img{
  width: 20px;
  height: 20px;
}

.mt-15{
  margin-top: 15px;
}

.errors{
  margin-top: 5px;
}

.errors ion-note{
  --color: var(--ion-color-danger);
  font-size: 13px;
}
