ion-content{
  --padding-start: 20px;
  --padding-end: 20px;
  --background: var(--ion-color-gray-3);
}

#logo{
  text-align: center;
  margin-top: 90px;
}

#logo img{
  width: 150px;
}

ion-item{
  --border-width: 0.55px 0.55px 0.55px 0.55px;
  --border-color: #ffffff;
  --border-radius: 20px;
  --color: #ffffff;;
  --background: transparent;
  --highlight-color-focused: #ffffff;;
  --highlight-color-valid: #ffffff;;
  --highlight-color-invalid: #ffffff;;
  --padding-start: 8px;
  font-size: 13px;
}

ion-item img{
  width: 20px;
  height: 20px;
}

.mt-15{
  margin-top: 15px;
}

.errors{
  margin-top: 5px;
}

.errors ion-note{
  --color: var(--ion-color-danger);
  font-size: 13px;
}
