<ion-content>
  <div style="text-align:center">
    <img id="logo" src="assets/img/logotipo.png">
    <h1>Registrar</h1>
  </div>
  <form [formGroup]="establishmentForm" (ngSubmit)="registerEstablishment()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors?.['required']" class="errors">
        Nombre requerido
      </div>
      <div *ngIf="name.errors?.['pattern']" class="errors">
        Nombre errado
      </div>
    </div>
    <ion-item>
      <ion-select placeholder="Tipo" formControlName="type">
        <div *ngFor="let typeEstablishment of typeEstablishments">
          <ion-select-option [value]="typeEstablishment.id">{{typeEstablishment.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
      <div *ngIf="type.errors?.['required']" class="errors">
        Tipo requerido
      </div>
    </div>
    <ion-item>
      <ion-select placeholder="Ciudad" formControlName="city">
        <div *ngFor="let city of cities">
          <ion-select-option [value]="city.c_digo_dane_del_municipio">{{city.departamento}} - {{city.municipio}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
      <div *ngIf="city.errors?.['required']" class="errors">
        Ciudad requerida
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>
    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
      <div *ngIf="address.errors?.['required']" class="errors">
        Direccion requerida
      </div>
      <div *ngIf="address.errors?.['pattern']" class="errors">
        Direccion errada
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input formControlName="cellphone"></ion-input>
    </ion-item>
    <div *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)" class="alert alert-danger">
      <div *ngIf="cellphone.errors?.['required']" class="errors">
        Celular requerido
      </div>
      <div *ngIf="cellphone.errors?.['pattern']" class="errors">
        Celular errado
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors?.['required']" class="errors">
        Correo requerido
      </div>
      <div *ngIf="email.errors?.['email']" class="errors">
        Email errado
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors?.['required']" class="errors">
        Contraseña requerida
      </div>
      <div *ngIf="password.errors?.['minlength']" class="errors">
        La constraseña debe tener al menos 6 caracteres
      </div>
    </div>
    <br>
    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
  <a id="login" (click)="openLogin()">Ir a iniciar Sesion</a>
</ion-content>
