<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Pedido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="orders" *ngIf="order">
    <ion-item>
      <h6>Fecha: </h6>
      <p class="p-item">{{order.created_datetime.toDate() | date}}</p>
    </ion-item>
    <ion-item>
      <h6>Hora: </h6>
      <p class="p-item">{{order.created_datetime.toDate() | date:'shortTime'}}</p>
    </ion-item>
    <ion-item>
      <h6>Estado:</h6>
      <p *ngIf="order.cancelled == false && order.accepted == false && order.received == false && order.delivered == false" class="p-item">Pendiente</p>
      <p *ngIf="order.cancelled == true && order.accepted == false && order.received == false && order.delivered == false" class="p-item">Cancelado</p>
      <p *ngIf="order.cancelled == false && order.accepted == true && order.received == false && order.delivered == false" class="p-item">Aceptado</p>
      <p *ngIf="order.cancelled == false && order.accepted == true && order.received == true && order.delivered == false" class="p-item">Recibido</p>
      <p *ngIf="order.cancelled == false && order.accepted == true && order.received == true && order.delivered == true" class="p-item">Entregado</p>
    </ion-item>
    <ion-item>
      <h6>Direccion de Recogida: </h6>
      <p class="p-item">{{locationReceived}}</p>
    </ion-item>
    <ion-item>
      <h6>Direccion de Entrega: </h6>
      <p class="p-item">{{locationDelivered}}</p>
    </ion-item>
    <ion-item>
      <h6 >Precio: </h6>
      <p class="p-item">{{order.price}}</p>
    </ion-item>
    <ion-button expand="full" *ngIf="order.cancelled == false && order.accepted == false" (click)="cancelOrder()">Cancelar Pedido</ion-button>
  </div>
</ion-content>
